<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.1.xsd">
    <!-- 
    id，表示獲取對象標識
    class，創建哪個類的對象(包名+類名)
     -->
     <!-- 無參構造器的配置 -->
	<bean id="T04_Person_01" class="com.mickey.pojo.T04_Person"/>
	
	<!-- 
	有參構造器的配置
	需要先提供有參數的構造方法
	 -->
	<bean id="T04_Person_02" class="com.mickey.pojo.T04_Person">
		<!-- 
		以下屬性皆為可選配置，如果符合相同條件的構造器則會調用pojo中最後一個構造器
		index，代表第幾個參驄，從0開始
		type，參數型別，除基本數據類型之外都要寫包名+類名，int和java.lang.Integer有區別
		name，參數名
		value，賦給參數的值
		 -->
		<constructor-arg index="0" type="int" name="id" value="5"></constructor-arg>
		<constructor-arg index="1" type="java.lang.String" name="name" value="Mickey"></constructor-arg>
	</bean>
	
	<!-- 實例工廠 -->
	<bean id="T05_PersonFactory" class="com.mickey.pojo.T05_PersonFactory"/>
	<bean id="T05_Factory_a" factory-bean="T05_PersonFactory" factory-method="createPerson">
		<constructor-arg index="0" value="A"></constructor-arg><!-- 如果沒有變量傳入可省略 -->
	</bean>
	
	<!-- 靜態工廠 -->
	<bean id="T05_Factory_Static" class="com.mickey.pojo.T05_PersonFactoryStatic" factory-method="createPerson">
		<constructor-arg index="0" value="A"></constructor-arg><!-- 如果沒有變量傳入可省略 -->
	</bean>
	
	<!-- 設值注入(通過setter) -->
	<bean id="T06_Person_01" class="com.mickey.pojo.T04_Person">
		<property name="id" value="123"></property>
		<property name="name" value="Mike"></property>
	</bean>
	<bean id="T06_Person_02" class="com.mickey.pojo.T04_Person">
		<property name="id">
			<value>123</value>
		</property>
		<property name="name">
			<value>Mike</value>
		</property>
	</bean>
	
	<bean id="T06_Goods" class="com.mickey.pojo.T06_Goods">
		<property name="gname" value="MyGoods"></property>
		<property name="price" value="2333"></property>
	</bean>
	<bean id="T06_Person_03" class="com.mickey.pojo.T04_Person">
		<property name="id" value="123"></property>
		<property name="name" value="Mike"></property>
		<property name="set"><!-- 給Set賦值 -->
			<set>
				<value>set_1</value>
				<value>set_2</value>			
				<value>set_3</value>
			</set>
		</property>
		<property name="list"><!-- 給List賦值 -->
			<list>
				<value>list_1</value>
				<value>list_2</value>			
				<value>list_3</value>
			</list>
		</property>
		<property name="map"><!-- 給Map賦值 -->
			<map>
				<entry key="key_01" value="value_01"></entry>
				<entry key="key_02" value="value_02"></entry>
				<entry key="key_03" value="value_03"></entry>
			</map>
		</property>
		<property name="strs"><!-- 給數組賦值 -->
			<array>
				<value>array_01</value>
				<value>array_02</value>
				<value>array_03</value>
			</array>
		</property>
		<!-- .properties類型 -->
		<!-- 
		<property name="demo">
			<props>
				<prop key="key_01">value_01</prop>
				<prop key="key_02">value_02</prop>
			</props>
		</property>
		 -->
		<property name="goods" ref="T06_Goods"><!-- 依賴注入，DI -->
		</property>
	</bean>
	
</beans>