<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.1.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
">
	<!-- 以前配置springmvc的方法，類需要繼承Controller的接口 -->
	<!-- 將邏輯類交由springmvc管理 -->
	<bean id="t02_FirstSpringMvcController" class="com.mickey.controller.T02_FirstSpringMvcController"></bean>
	<!-- 配置HandlerAdapter的實現類 -->
	<bean class="org.springframework.web.servlet.handler.SimpleServletHandlerAdapter"></bean>
	<!-- SimpleUrlHandlerMapping，用於解析請求 -->
	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="urlMap">
			<map>
				<!-- key，解析出來控制器邏輯名 -->
				<entry key="02_test" value-ref="t02_FirstSpringMvcController"></entry>
			</map>
		</property>
	</bean>
	
	<!-- 使用注解的方式將類交由springmvc管理 -->
	<!-- 掃描注解 -->
	<context:component-scan base-package="com.mickey.controller"></context:component-scan>
	<!-- 注解驅動，包含HandlerMapping和HandlerAdapter -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- 設定不攔截靜態資源，只有資源請求url符合mapping中設定的格式，就到location設定的文件夾下尋找 -->
	<mvc:resources location="/js/" mapping="/js/**"></mvc:resources><!-- 代表js文件夾下所有的文件都不攔截 -->
	<mvc:resources location="/css/" mapping="/css/**"></mvc:resources>
	<mvc:resources location="/images/" mapping="/images/**"></mvc:resources>
	<mvc:resources location="/file/" mapping="/file/**"></mvc:resources>
	<!-- 自定義視圖解析器 -->
	<bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
        <property name="suffix" value=".jsp" />
	</bean>
	<bean class="com.mickey.pojo.T05_People"></bean>

	
</beans>