<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mickey.mapper.account">
	<!-- 查詢全部用戶 -->
	<select id="selectAll" resultType="account">
		select * from mybateis_t21_acount;
	</select>
	<!-- 根據帳號、密碼查詢用戶 -->
	<select id="selectAccount_1" parameterType="map" resultType="account">
		select * from mybateis_t21_acount where account_name=#{outAccount_name} and password=#{outPassword};
	</select>
	<!-- 據帳號和帳戶名查詢用戶 -->
	<select id="selectAccount_2" parameterType="map" resultType="account">
		select * from mybateis_t21_acount where account_name=#{account_name} and uname=#{uname};
	</select>
	<!-- 更新用戶余額 -->
	<update id="updateBalance" parameterType="map">
		update mybateis_t21_acount set balance=#{balance} where uid=#{uid};
	</update>
	
	<!-- insert transfer log -->
	<insert id="insertLog" parameterType="map">
		insert into mybateis_t22_transferlog values (default, #{out_account}, #{in_account}, #{transfer_money}, #{transfer_datetime});
	</insert>
	<!-- select all log -->
	<select id="selectAllLog" resultType="transferlog">
		select * from mybateis_t22_transferlog;
	</select>
</mapper>