<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mickey.mapper.T23_UserMapper"><!-- namespace，理解為實現類的全路徑，包名+類名 -->

	<!-- myBaties第23課，getMapper接口綁定、多參數傳遞 -->
	<select id="selectAll" resultType="user">
		select * from T41_UserImformation;
	</select>	
	<select id="selectById" resultType="user"><!-- 如果是多參數，parameterType可不寫 -->
		select * from T41_UserImformation where uid=#{param1} and uname=#{param2};
	</select>
	
	<!-- myBaties第24課，動態SQL -->
	<select id="selectForDynamicSql" resultType="user">
		select * from T41_UserImformation
		<if test="param1 != 0 || param2 != null || param3 != 0"> where </if>
		<if test="param1 != 0">uid=#{param1} </if>
		<if test="param2 != null">and uname=#{param2} </if>
		<if test="param3 != 0">and gender=#{param3}</if>
		;
	</select>
	
</mapper>

