<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用resultMap實現單表映射關系 -->
<mapper namespace="com.mickey.mapper.T29_ResultMapTestMapper">
	<resultMap type="T29_Teacher" id="mapTest">
		<!-- 主鍵使用id標簽配置映射關系，column表示數據庫的字段名，property表示java的屬性名 -->
		<id column="tid" property="id"/>
		<!-- 其他列使用result標簽配置映射關系 -->
		<result column="tname" property="name"/>
	</resultMap>

	<select id="selectAll" resultMap="mapTest">
		select * from mybaties_t27_teacher;
	</select>
	
	<!-- class 30，<resultMap>實現關聯單個對象(N+1方式) -->
	<resultMap type="T27_Student" id="mapTest_1">
		<!-- 
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="age" column="age"/>
		 -->
		<result property="tid" column="tid"/>
		<!-- 關聯一個對象 -->
		<association property="teacher" select="com.mickey.mapper.T29_ResultMapTestMapper.selectById" column="tid"/>
	</resultMap>
	<select id="selectAllStu" resultMap="mapTest_1">
		select * from mybateis_t27_student;
	</select>
	<select id="selectById" resultType="T27_Teacher" parameterType="int">
		select * from mybaties_t27_teacher where tid=#{0};
	</select>
	
</mapper>